<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzl.base.mapper.DutyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gzl.base.entity.Duty">
        <id column="id" property="id" />
        <result column="duty_id" property="dutyId" />
        <result column="duty_name" property="dutyName" />
        <result column="duty_type" property="dutyType" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, duty_id, duty_name, duty_type, status, remark, create_by, create_time, update_by, update_time
    </sql>

    <select id="selectAllDuty" resultType="com.gzl.common.model.base.duty.CheckDutyResponse">
        SELECT * FROM SYSTEM_Duty
        <where>
            <if test="dutyId!=null and dutyId!=''">and duty_id=#{dutyId}</if>
            <if test="dutyName!=null and dutyName!=''">and duty_name=#{dutyName}</if>
            <if test="dutyType!=null and dutyType!=''">and duty_type=#{dutyType}</if>
            <if test="status!=null ">and status=#{status}</if>
            <if test="platName!=null and platName!=''">and plat_name=#{platName}</if>
        </where>
    </select>
</mapper>
