<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzl.base.mapper.OrganizationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gzl.base.entity.Organization">
        <id column="id" property="id" />
        <result column="organization_id" property="organizationId" />
        <result column="organization_name" property="organizationName" />
        <result column="parent_id" property="parentId" />
        <result column="organization_type" property="organizationType" />
        <result column="show_type" property="showType" />
        <result column="third_code" property="thirdCode" />
        <result column="status" property="status" />
        <result column="short_name" property="shortName" />
        <result column="level" property="level" />
        <result column="organization_default" property="organizationDefault" />
        <result column="remark" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, organization_id, organization_name, parent_id, organization_type, show_type, third_code, status, short_name, level, organization_default, remark, create_by, create_time, update_by, update_time
    </sql>
    <update id="updateOrganization" parameterType="com.gzl.common.model.base.organization.OrganizationRequest">
        UPDATE sys_organization
        <set>
            <if test="organizationName!=null">organization_name=#{organizationName},</if>
            <if test="parentId!=null ">parent_id=#{parentId},</if>
            <if test="organizationType!=null">organization_type=#{organizationType},</if>
            <if test="showType!=null ">show_type=#{showType},</if>
            <if test="thirdCode!=null ">third_code=#{thirdCode},</if>
            <if test="status!=null ">status=#{status},</if>
            <if test="shortName!=null ">short_name=#{shortName},</if>
            <if test="level!=null ">level=#{level},</if>
        </set>
        <where>
            <if test="id!=null and id!=''">and id=#{id}</if>
            <if test="organizationId!=null and organizationId!=''">and organization_id=#{organizationId}</if>
        </where>
    </update>

    <select id="selectOrganization" parameterType="com.gzl.common.model.base.organization.OrganizationRequest"
            resultType="com.gzl.common.model.base.organization.OrganizationResponse">
        SELECT * FROM sys_organization
        <where>
            <if test="organizationId!=null and organizationId!=''">and organization_id=#{organizationId}</if>
            <if test="organizationName!=null and organizationName!=''">and organization_name=#{organizationName}</if>
            <if test="parentId!=null and parentId!=''">and parent_id=#{parentId}</if>
            <if test="organizationType!=null ">and organization_type=#{organizationType}</if>
            <if test="showType!=null ">and show_type=#{showType}</if>
            <if test="thirdCode!=null and thirdCode!=''">and third_code=#{thirdCode}</if>
            <if test="status!=null ">and status=#{status}</if>
            <if test="shortName!=null and shortName!=''">and short_name=#{shortName}</if>
            <if test="level!=null">and level=#{level}</if>
            <if test="organizationDefault!=null ">and organization_default=#{organizationDefault}</if>
        </where>

    </select>
</mapper>
