<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzl.base.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gzl.base.entity.Role">
        <id column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="dis_name" property="disName" />
        <result column="status" property="status" />
        <result column="del_flag" property="delFlag" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_name, dis_name, status, del_flag, create_by, create_time, update_by, update_time, remark
    </sql>

    <select id="selectRoleAuthority" resultType="com.gzl.base.common.model.base.authority.AuthorityResponse">
        select  b.id, b.authority_name, b.show_name, b.visible, b.status, b.del_flag, b.remark
        from sys_role_authority a
        left join sys_authority b
        on a.role_id =b.id
        <where>
            <if test="roleId !=null and roleId !=''">and a.role_id=#{roleId}</if>
        </where>
    </select>



    <resultMap id="RoleAuthorityMap" type="com.gzl.base.common.model.base.role.RoleAuthorityResponse">
        <id column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="dis_name" property="disName" />
        <result column="status" property="status" />
        <result column="del_flag" property="delFlag" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
        <collection property="authorityResponseList" ofType="com.gzl.base.common.model.base.authority.AuthorityResponse" >
            <id column="authorityId" property="id"/>
            <result column="authority_name" property="authorityName" />
            <result column="show_name" property="showName" />
            <result column="visible" property="visible" />
            <result column="status" property="status" />
            <result column="del_flag" property="delFlag" />
            <result column="remark" property="remark" />
            <result column="create_by" property="createBy" />
            <result column="create_time" property="createTime" />
            <result column="update_by" property="updateBy" />
            <result column="update_time" property="updateTime" />
        </collection>
    </resultMap>

    <select id="selectRoleAuthorityMap" resultMap="RoleAuthorityMap">
        select b.id, b.role_name, b.dis_name, b.status,b.del_flag,
        e.id as authorityId, e.authority_name, e.show_name, e.visible,e.status, e.del_flag, e.remark
        from sys_role b
        left join sys_user_role a
        on b.id=a.role_id
        left join sys_role_authority d
        on b.id=d.role_id
        left join sys_authority e
        on d.authority_id=e.id
        <where>
            <if test="userId !=null and userId !=''">and a.user_id=#{userId}</if>
        </where>
    </select>

</mapper>
